.contenedor-gral{
    background: -webkit-linear-gradient(left, rgb(216, 134, 248), rgb(182, 64, 250), rgba(0, 0, 255, 0.418)); 
    
}
 /*ola, soy Hernán un apasionado de la ciencia y tecnología. Con esfuerzo he ido adquiriendo conocimientos y herramientas para poder realizar páginas web, tanto en diseño como en desarrollo.
      Te invito a recorrer el sitio y si te interesa podemos comunicarnos*/
      .parraf{
        color: black;
        font-weight: 600;
      }